<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1080589526644-htbniiulj0edq8l1828r9kjevemn2k65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080589526644-htbniiulj0edq8l1828r9kjevemn2k65</string>
	<key>API_KEY</key>
	<string>AIzaSyD25b6Ao_M1PCkt32kt96MVq9i25HBGI8M</string>
	<key>GCM_SENDER_ID</key>
	<string>1080589526644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cropswap.cropswapapp</string>
	<key>PROJECT_ID</key>
	<string>cropswap-60191</string>
	<key>STORAGE_BUCKET</key>
	<string>cropswap-60191.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080589526644:ios:476dd18bf5e284d4</string>
	<key>DATABASE_URL</key>
	<string>https://cropswap-60191.firebaseio.com</string>
</dict>
</plist>